{% extends 'base.html' %}

{% load static %}

{% block title %}Store{% endblock title %}

{% block content %}

<p>{{ item.fullname }}</p>
<p><img src="{{ item.image.url }}" width="300" height="300" /></p>
<p>{{ item.description }}</p>
<p>{{ item.rub_price|floatformat:2 }}&#8381;</p>
<p>{{ item.brand.name }}</p>

<form action="{% url 'add_to_cart' item.id %}" method="POST">{% csrf_token %}
    <button>В корзину</button>
</form>

{% for banner in banners %}
<p><img src="{{ banner.image.url }}" width="300" height="300" /></p>
<p>{{ banner.description }}</p>
{% endfor %}

{% endblock content %}