{% extends 'base.html' %}

{% load static %}

{% block title %}Store{% endblock title %}

{% block content %}

<div class="container mt-4">
    <div class="row">
        <div class="card col-md-9 border-primary">
            <div class="card-header border-primary bg-transparent">{{ item.fullname }}</div>
            <div class="row no-gutters">
                <div class="col-md-3">
                    <img class="mt-5 ml-4" src="{{ item.image.url }}" width="160" height="212" />
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <p class="card-text">{{ item.description }}</p>
                        <p class="card-text">{{ item.rub_price|floatformat:2 }}&#8381;</p>
                        <form action="{% url 'add_to_cart' item.id %}" method="POST">{% csrf_token %}
                            <button class="btn btn-outline-success">В корзину</button>
                        </form>
                    </div>

                </div>

                <div class="col-md-12 mb-4 card-footer border-primary bg-transparent">
                    {% if item.brand %}Brand:
                    {{ item.brand.name }}
                    {% else %}
                    <p class="mb-4"></p>
                    {% endif %}
                </div>

            </div>

        </div>
    </div>
</div>

{% include 'store/banners.html' %}

{% endblock content %}